@import "variables";
@import "reset";
@import "globals";
@import "layout";
@import 'helpers/responsive';
@import "nav";
@import "banner";
@import "search";
@import 'article-format1';
@import 'article-format2';
@import 'footer';

//popular
.popular {
  border-bottom: 1px solid #000;
  padding-bottom: 20px;
  margin-bottom: 60px;

  &__title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 30px;
  }

  &__all {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    margin-bottom: 40px;
  }

  &__article-format1 {
    margin-bottom: 20px;
  }

  &__link {
    text-align: right;
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: bold;

    a {
      color: #356EAD;
    }
  }
}

//allarticles
.allarticles__title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 30px;
}

//grid-wrapper
.grid-wrapper{
  display: inline-grid;
  width: 100%;
  grid-template-columns:auto auto;
  grid-gap: 1rem;
  padding: 1rem;
  margin: 0px;
}

.grid-wrapper > div {
  text-align: justify;
  padding: 20px 0;
  font-size: 18px;
  line-height: 20px;
}
